.card {
	border-radius: 10px 10px 10px 10px;
	transition: transform 250ms, opacity 400ms;
	background-color: $color-section-bg;
	max-width: 600px;
	// max-height: 1200px;

	&:hover {
		transform: scale(1.08);
	}

	&__image {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px 10px 0px 0px;
		background-color: black;

		img {
			height: 90%;
			position: absolute;
			bottom: 0;
		}
	}

	&__info-container {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
    	align-items: center;
	}

	&__info {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
    	align-items: center;
	}

	&__info-title {
		width: 80%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		line-height: $line-height;
	}

	&__info-icon {
		width: 20%;
		height: 100%;
		display: flex;
		justify-content: center;

		.icon-btn {
			color: $font-color-primary !important;
			// transition: transform 250ms, opacity 400ms;

			&:hover {
				color: $color-highlight !important;
			}

			&__rotate {
				transform: rotate(180deg);
			}
		}
	}

	&__info-collapsible {
		// width: 520px;
		// padding: 24px 40px 24px 40px;

		p {
			text-align: left;
			// color: $font-color-gray;
			opacity: 0.85;
		}

		.tags-wrapper {
			display: flex;
			flex-flow: row nowrap;
		}
	}
}


@media (min-width: $xs) {
	.card {
		width: 344px;
		margin-bottom: 56px;

		&__image {
			height: 320px;
		}

		&__info {
			width: 344px;
			height: 80px;
		}

		&__info-title {
			padding-left: 24px;
		}

		&__info-collapsible {
			width: 296px;
			padding: 8px 24px 24px 24px;

			.project-date {
				font-size: $font-14;
			}
		}
	}
}

@media (min-width: $medium) {
	.card {
		width: 600px;
		margin-bottom: 80px;

		&__image {
			height: 376px;
		}

		&__info {
			width: 600px;
			height: 72px;
		}

		&__info-title {
			padding-left: 40px;
		}

		&__info-collapsible {
			width: 520px;
			padding: 8px 40px 24px 40px;
		}
	}
}

.open {
	animation: expand 2s ease-out;

	@keyframes expand {
		from {
			max-height: 0;
		}
		to {
			max-height: 2300px;
		}
	}
}

.close {
	animation: collapse 2s ease-out;

	@keyframes collapse {
		from {
			max-height: 2300px;
		}
		to {
			max-height: 0;
		}
	}
}