@media (min-width: $xs) {
    .projects {
        margin: 56px 0px 56px 0px;
        &__title {
            padding-bottom: 32px;
        }
    }
}

@media (min-width: $medium) {
    .projects {
        margin: 120px 0px 136px 0px;
        &__title {
            padding-bottom: 64px;
        }
    }
}

.projects {
    // min-height: 872px;
    width: 100%;
    background-color: $color-section-bg;
    margin: 120px 0px 136px 0px;
    padding: 32px 0px 64px 0px;

    &__title {
        text-align: center;
    }
}

.project-cards-container {
    display: flex;
    flex-flow: column wrap;
    // justify-content: space-evenly;
    align-items: center;
}