.card {
	border-radius: 10px 10px 10px 10px;
	// margin-bottom: 80px;
	transition: transform 250ms, opacity 400ms;
	background-color: $color-section-bg;
	max-width: 600px;

	&:hover {
		transform: scale(1.08);
	}

	&__image {
		// height: 376px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px 10px 0px 0px;
		background-color: black;

		img {
			height: 90%;
			position: absolute;
			bottom: 0;
		}
	}

	&__info {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
    	align-items: center;
	}

	&__info-joku {
		// width: 600px;
		// height: 64px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
    	align-items: center;
	}

	&__info-title {
		width: 80%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		// padding-left: 40px;
	}

	&__info-icon {
		width: 20%;
		height: 100%;
		display: flex;
		justify-content: center;

		.icon-btn {
			color: $font-color-primary !important;
			// transition: transform 250ms, opacity 400ms;

			&:hover {
				color: $color-highlight !important;
			}

			&__rotate {
				transform: rotate(180deg);
			}
		}
	}

	&__info-collapsible {
		// width: 520px;
		// padding: 24px 40px 24px 40px;

		p {
			text-align: left;
			padding-bottom: 8px;
		}
	}
}


@media (min-width: $xs) {
	.card {
		width: 344px;
		margin-bottom: 56px;

		&__image {
			height: 320px;
		}

		&__info-joku {
			width: 344px;
			height: 64px;
		}

		&__info-title {
			padding-left: 24px;
		}

		&__info-collapsible {
			width: 296px;
			padding: 8px 24px 24px 24px;
		}
	}
}

// // @media (min-width: $small) {
// // 	.card {
// // 		width: 400px;
// // 		height: 128px;
// // 		margin-bottom: 48px;
// // 		padding: 32px 32px 148px 32px;
// // 	}
// // }

@media (min-width: $large) {
	.card {
		width: 600px;
		margin-bottom: 80px;

		&__image {
			height: 376px;
		}

		&__info-joku {
			width: 600px;
			height: 64px;
		}

		&__info-title {
			padding-left: 40px;
		}

		&__info-collapsible {
			width: 520px;
			padding: 24px 40px 24px 40px;
		}
	}
}