.projects {
    min-height: 800px;
    max-width: 100%;
    background-color: rgba(black,0.35);
    margin: 120px 0px 136px 0px;
    padding: 80px 0px 80px 0px;

    &__title {
        padding-bottom: 48px;
        text-align: center;
    }
}

.project-cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}