$base-duration: 500ms;

// Colors
$color-1: #2c3e50;
$color-2: #1abc9c;
$color-3: #2ecc71;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);

*,
*:before,
*:after {
	box-sizing: border-box;
	outline: none;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-smooth: auto;
	font-weight: 300;
	line-height: 1.5;
	color: #444;
}

figure {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 375px;
	padding: 32px 32px 124px 32px;
	background-color: black;
	min-width: 375px;
	height: 667px;
	border-radius: 10px;
	box-shadow: 
		0 1px 3px rgba(0,0,0,0.12), 
		0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
	&:hover {
		box-shadow: whitesmoke 0px 0px 40px;

		figcaption {
			bottom: 0;
		}
	}
	
	img {
		height: 100%;
		transition: 0.25s;
	}
	figcaption {
		position: absolute;
		bottom: -45%;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 30px;
		background-color: rgba(black,0.85);
		box-shadow: 0 0 20px rgba(black,0.4);
		color: whitesmoke;
		text-align: center;
		line-height: 1.75;
		transition: 0.25s;
		h3 {
			margin: 0 0 20px;
			padding: 0;
		}
		p {
			font-size: 14px;
			line-height: 1.75;
		}
	}
}
