.projects {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: $color-section-bg;
    padding: 32px 0px 64px 0px;

    &__title {
        text-align: center;
    }

    &__p {
        line-height: $line-height;
    }
}

.project-cards-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

@media (min-width: $xs) {
    .projects {
        margin: 56px 0px 56px 0px;

        &__p {
            padding: 16px 24px 56px 24px;
            opacity: 0.75;
        }
    }
}

@media (min-width: $medium) {
    .projects {
        margin: 120px 0px 136px 0px;

        &__p {
            width: 50%;
            padding: 16px 0px 72px 0px;
            opacity: 0.75;
            font-size: $font-18;
        }
    }
}