@media (min-width: $xs) {
    .text-field {
        width: 80%;
    }

    .text-field-multi {
        width: 80%;
    }
}

@media (min-width: $medium) {
    .text-field {
        width: 60%;
    }

    .text-field-multi {
        width: 60%;
    }
}


.text-field {
    .MuiInputLabel-root {
        color: $font-color-primary !important;
    }

    .MuiInputBase-input {
        background-color: rgba(0,0,0,0.35);
    }

    .MuiInputBase-input:hover {
        background-color: rgba(0,0,0,0.25);
    }

    input {
        color: $font-color-primary !important;
    }

    .css-15mnzpi-MuiInputBase-root-MuiFilledInput-root:before {
        border-bottom: 1px solid $color-primary !important;
    }

    .css-15mnzpi-MuiInputBase-root-MuiFilledInput-root:after {
        border-bottom: 1px solid $color-highlight !important;
    }
}

.text-field-multi {
    .MuiInputLabel-root {
        color: $font-color-primary !important;
    }

    .MuiFilledInput-root {
        background-color: rgba(0,0,0,0.35);
    }

    .MuiFilledInput-root.Mui-focused {
        background-color: rgba(0,0,0,0.35);
    }

    .MuiFilledInput-root:hover {
        background-color: rgba(0,0,0,0.35);
    }

    // .css-7209ej-MuiInputBase-input-MuiFilledInput-input
    .MuiInputBase-inputMultiline {
        color: $font-color-primary !important;
    }

    .css-1rx6cgr-MuiInputBase-root-MuiFilledInput-root:before, .MuiInputBase-inputMultiline:before {
        border-bottom: 1px solid $font-color-primary !important;
    }

    .css-1rx6cgr-MuiInputBase-root-MuiFilledInput-root:after, .MuiInputBase-inputMultiline:after {
        border-bottom: 1px solid $color-highlight !important;
    }
}