.text-field {
    width: 60%;

    .MuiInputLabel-root {
        color: $font-color-primary !important;
    }

    .MuiInputBase-input {
        background-color: rgba(0,0,0,0.35);
    }

    .MuiInputBase-input:hover {
        background-color: rgba(0,0,0,0.25);
    }

    input {
        color: $font-color-primary;
    }

    .css-15mnzpi-MuiInputBase-root-MuiFilledInput-root:before {
        border-bottom: 1px solid $color-primary;
    }

    .css-15mnzpi-MuiInputBase-root-MuiFilledInput-root:after {
        border-bottom: 1px solid $color-highlight;
    }
}

.text-field-multi {
    width: 60%;

    .MuiInputLabel-root {
        color: $font-color-primary !important;
    }

    .MuiFilledInput-root {
        background-color: rgba(0,0,0,0.35);
    }

    .MuiFilledInput-root.Mui-focused {
        background-color: rgba(0,0,0,0.35);
    }

    .MuiFilledInput-root:hover {
        background-color: rgba(0,0,0,0.35);
    }

    .css-7209ej-MuiInputBase-input-MuiFilledInput-input {
        color: $font-color-primary;
    }

    .css-1rx6cgr-MuiInputBase-root-MuiFilledInput-root:before {
        border-bottom: 1px solid $font-color-primary;
    }

    .css-1rx6cgr-MuiInputBase-root-MuiFilledInput-root:after {
        border-bottom: 1px solid $color-highlight;
    }
}