.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    overflow: hidden;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: $navbar-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    .nav-links {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        margin-right: 32px;
        gap: 16px;
    }
        
    .nav-links > .active {
        color: $color-secondary;
        text-shadow: 0 1px 0 $color-secondary;
        border-bottom: 2px solid $color-secondary;
    
        &:hover {
            color: $color-secondary;
        }
    }

    .nav-links a {
        width: fit-content;
        display: flex;
        padding: 16px;
        align-items: center;
        
        color: $font-color-primary;
        font-size: $font-16;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
        
        &:hover, .pointer {
            cursor: pointer;
            background-color: $navbar-links-hover;
            color: $color-primary;
        }
    }
}
