.back-btn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: $color-black;
    border: solid 1px $color-primary;
    border-radius: 50px;
    padding: 8px 16px;
    margin-left: 72px;
    
    .back-icon {
        font-size: $font-16;
        color: $font-color-primary;
        margin-right: 8px;
    }

    .back-text {
        font-size: $font-16;
        font-weight: $font-weight-bold;
        color: $font-color-primary;
    }
}

.back-btn:hover, .pointer {
    border-color: $color-highlight;
    cursor: pointer;

    .back-icon {
        color: $color-highlight;
    }

    .back-text {
        color: $color-highlight;
    }
}