.default {
    width: 8rem;
    height: 3.5rem;
    background-color: rgb(201, 45, 45) !important;
    color: whitesmoke !important;
    font-weight: bold !important;
}

.default:hover {
    background-color: rgb(243, 67, 67) !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.unselected {
    width: 4rem;
    height: 2.5rem;
    color: whitesmoke !important;
    border: 1px solid whitesmoke !important;
    font-weight: bold !important;
}

.unselected:hover {
    color:rgb(243, 67, 67) !important;
    border: 1px solid rgb(243, 67, 67) !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.selected {
    width: 4rem;
    height: 2.5rem;
    background-color: whitesmoke !important;
    color: black !important;
    font-weight: bold !important;
}

.link {
    font-size: 1.12rem !important;
    color: whitesmoke !important;
    text-transform: capitalize !important;
}

.link:hover {
    color: whitesmoke !important;
    text-shadow: 2px 2px 5px whitesmoke;
    text-decoration: underline !important;
}

.btn-align {
    padding-top: 24px;
    text-align: center;
}