.default {
    width: 8rem;
    height: 3.5rem;
    background-color: $color-secondary !important;
    color: $font-color-secondary !important;
    font-weight: bold !important;
}

.default:hover {
    background-color: $color-highlight !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.unselected {
    width: 4rem;
    height: 2.5rem;
    color: $color-primary !important;
    border: 1px solid $color-primary !important;
    font-weight: bold !important;
}

.unselected:hover {
    color: $color-secondary !important;
    border: 1px solid $color-secondary !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.selected {
    width: 4rem;
    height: 2.5rem;
    background-color: $color-primary !important;
    color: $font-color-secondary !important;
    font-weight: bold !important;
}

.link {
    font-size: $font-14 !important;
    color: $font-color-primary !important;
    text-transform: capitalize !important;
}

.link:hover {
    color: $color-highlight !important;
    text-decoration: underline !important;
}

.btn-align {
    padding-top: 24px;

    &__right {
        text-align: right;   
    }

    &__center {
        text-align: center;
    }
}