@media (min-width: $xs) {
    .language-en {
        margin-right: 8px;
    }
    
    .language-fi {
        margin-right: 16px;
    }
}

@media (min-width: $xl) {
    .language-en {
        margin-right: 16px;
    }
    
    .language-fi {
        margin-right: 72px;
    }
}

.languages-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
