.languages-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.language-en {
    order: 1;
    margin-right: 16px;
}

.language-fi {
    order: 2;
}
