@media (min-width: $xs) {
    .navbar {
        height: 56px;
        justify-content: center;
    }

    .nav-links a {
        font-size: $body-font-size;
        padding: 8px;
    }

    .nav-links {
        margin-right: 24px;
        gap: 16px;
    }
}

@media (min-width: $xl) {
    .navbar {
        height: 80px;
        justify-content: flex-end;
    }

    .nav-links a {
        font-size: $body-font-size-desktop;
        padding: 16px;
    }

    .nav-links {
        margin-right: 32px;
        gap: 16px;
    }
}


.navbar {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-flow: row wrap;
    // justify-content: flex-end;
    align-items: center;
    background-color: $navbar-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav-links a {
    height: 100%;
    width: fit-content;
    border-radius: 5px;
    display: flex;
    // padding: 16px;
    align-items: center;

    color: $font-color-primary;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &:hover, .pointer {
        cursor: pointer;
        background-color: $navbar-links-hover;
        color: $color-primary;
    }
}

.nav-links {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.nav-links > .active {
    color: $color-secondary;
    text-shadow: 0 1px 0 $color-secondary;

    &:hover {
        color: $color-secondary;
    }
}