.navbar {
    width: 100%;
    max-width: 100%;
    height: 80px;
    display: flex;
    overflow: hidden;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(black,0.85);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar a {
    color: whitesmoke;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 32px;
    text-align: center;
    white-space: nowrap;
}

.navbar a:hover {
    color: rgb(243, 67, 67);
    font-weight: bolder;
    text-shadow: 0 1px 0 rgb(243, 67, 67);
    // font-weight: bold;
}

.nav-links {
    margin-right: 16px;
}

.nav-links > .active {
    color: red;
    text-shadow: 0 1px 0 rgb(243, 67, 67);
}