.bakery-app {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    a {
        color: $color-highlight;
    }

    a:hover {
        color: $font-color-primary;
    }

    .text-wrapper {
        width: 50%;

        h2, p {
            padding: 24px 0px 24px;
        }

        h3 {
            padding: 56px 0px 24px;
        }

        &__list {
            width: 30%;

            p {
                text-align: left;
            }
        }

        &__space {
            width: 70%;
            padding-bottom: 48px;
        }
    }

    .left-aligned {
        h2, h3, p {
            text-align: left;
        }
    }

    .center-aligned {
        h2, h3, p {
            text-align: center;
        }
    }

    .highlighted-text {
        color: $color-highlight;
        font-weight: $font-weight-bold;
    }

    .img {
        padding: 24px;
    }

    .icon {
        padding: 40px;
        color: $color-secondary;
        font-size: $font-60;
    }

    .cover {
        padding: 80px 0px 80px 56px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: $color-black;

        &__text {
            width: 36%;
            padding-left: 80px;

            h1, p {
                text-align: left;
                padding-bottom: 24px;
            }

            p {
                font-size: $font-20;
            }

            .thesis-link {
                padding-top: 24px;
            }
        }
    }

    .overview, .takeaways {
        width: 100%;
        padding: 80px 0px 144px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: $color-section-bg;
    }

    .understanding, .design-refine {
        width: 100%;
        padding: 80px 0px 144px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: $color-black;

        .comparison {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 24px 0px 24px;

            .arrow-right {
                padding: 56px;
                color: $color-secondary;
                font-size: $font-60;
            }
        }
    }

    .design-start {
        width: 100%;
        padding: 80px 0px 144px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: $color-section-bg;
    }
}