@media (min-width: $xs) {
    .bakery-app {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        a {
            color: $color-highlight;
        }
            
        a:hover {
            color: $font-color-primary;
        }

        .text-wrapper {
            width: 90%;

            h2, p {
                padding: 24px 0px 0px;
            }

            h3 {
                padding: 56px 0px 24px;
            }

            &__list {
                p {
                    text-align: left;
                }
            }

            &__space {
                padding: 0px 16px 24px;
            }
        }

        .left-aligned {
            h2, h3, p {
                text-align: left;
            }
        }

        .center-aligned {
            h2, h3, p {
                text-align: center;
            }
        }

        .highlighted-text {
            color: $color-highlight;
            font-weight: $font-weight-bold;
        }

        // .img {
        //     padding: 24px;
        // }

        .icon {
            padding: 40px;
            color: $color-secondary;
            font-size: $font-60;
        }
        
        .cover{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            background-color: $color-black;
            padding: 80px 16px 40px;
    
            &__text {
                // width: 36%;
                // padding-left: 80px;
    
                h1, p {
                    text-align: left;
                    padding-bottom: 16px;
                }
    
                p {
                    font-size: $font-20;
                    opacity: 0.85;
                }

                .p-small {
                    font-size: $font-17;
                }
    
                .project-link {
                    padding-top: 24px;
                    font-size: $font-18;
                }
    
                .tags {
                    display: flex;
                    flex-flow: row nowrap;
                }
            }

            .cover__img {
                height: 350px;
                padding: 16px;
            }
        }

        .overview, .takeaways {
            width: 100%;
            padding: 48px 0px 56px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            background-color: $color-section-bg;
        }
    
        .understanding, .design-refine {
            width: 100%;
            padding: 48px 0px 56px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            background-color: $color-black;
    
            .comparison {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                padding: 24px 0px 24px;
    
                .arrow-right {
                    padding: 16px;
                    color: $color-secondary;
                    font-size: $font-40;
                }
            }
    
            &__img-small {
                // height: 180px;
                width: 100%;
                padding: 16px 0px;
            }

            &__img-medium {
                // height: 224px;
                width: 70%;
                padding: 16px 0px;
            }

            &__img-large {
                width: 50%;
                padding: 16px 0px;
            }

            .key-mockups {
                display: flex;
                flex-flow: column nowrap;

                &__img {
                    height: 400px;
                    padding: 16px 0px;
                }
            }
        }

        .design-start {
            width: 100%;
            padding: 48px 0px 56px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            background-color: $color-section-bg;
                    
            &__img-small {
                // height: 120px;
                width: 100%;
                padding: 16px 0px;
            }

            &__img-medium {
                // height: 240px;
                width: 80%;
                padding: 16px 0px;
            }

            &__img-large {
                // height: 280px;
                width: 50%;
                padding: 16px 0px;
            }
        }
    }
}

@media (min-width: $medium) {
    .bakery-app {
        .text-wrapper {
            width: 60%;
        }
    }
}

@media (min-width: $large) {
    .bakery-app {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        a {
            color: $color-highlight;
        }
            
        a:hover {
            color: $font-color-primary;
        }

        .text-wrapper {
            width: 60%;

            h2, p {
                padding: 24px 0px 16px;
            }

            h3 {
                padding: 56px 0px 24px;
            }

            &__list {
                width: 30%;

                p {
                    text-align: left;
                }
            }

            &__space {
                padding: 0px 16px 24px;
            }
        }

        .left-aligned {
            h2, h3, p {
                text-align: left;
            }
        }

        .center-aligned {
            h2, h3, p {
                text-align: center;
            }
        }

        .highlighted-text {
            color: $color-highlight;
            font-weight: $font-weight-bold;
        }

        .icon {
            padding: 32px;
            color: $color-secondary;
            font-size: $font-60;
        }
        
        .cover{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            background-color: $color-black;
            padding: 80px 16px 40px;
    
            &__text {
                width: 36%;
                padding-left: 80px;
    
                h1, p {
                    text-align: left;
                    padding-bottom: 24px;
                }
    
                p {
                    font-size: $font-20;
                    opacity: 0.85;
                }

                .p-small {
                    font-size: $font-17;
                }
    
                .project-link {
                    padding-top: 24px;
                    font-size: $font-18;
                }
    
                .tags {
                    display: flex;
                    flex-flow: row nowrap;
                }
            }

            .cover__img {
                height: 560px;
                padding: 24px;
            }
        }

        .overview, .takeaways {
            width: 100%;
            padding: 80px 0px 144px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            background-color: $color-section-bg;
        }
    
        .understanding, .design-refine {
            width: 100%;
            padding: 80px 0px 144px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            background-color: $color-black;
    
            .comparison {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                padding: 24px 0px 24px;
    
                .arrow-right {
                    padding: 56px;
                    color: $color-secondary;
                    font-size: $font-60;
                }
            }
    
            &__img-small {
                // height: 400px;
                width: 70%;
                padding: 16px 0px;
            }

            &__img-medium {
                // height: 480px;
                width: 60%;
                padding: 16px 0px;
            }

            &__img-large {
                width: 25%;
                padding: 16px 0px;
            }

            .key-mockups {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 40px;

                &__img {
                    height: 400px;
                    padding: 24px 0px;
                }
            }
        }

        .design-start {
            width: 100%;
            padding: 48px 16px 56px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            background-color: $color-section-bg;
                    
            &__img-small {
                // height: 200px;
                width: 70%;
                padding: 16px 0px;
            }

            &__img-medium {
                // height: 240px;
                width: 50%;
                padding: 16px 0px;
            }

            &__img-large {
                // height: 400px;
                width: 25%;
                padding: 16px 0px;
            }
        }
    }
}