.project-page {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    a {
        color: $color-highlight;
    }

    a:hover {
        color: $font-color-primary;
    }

    .highlighted-text {
        color: $color-highlight;
        font-weight: $font-weight-bold;
    }

    .img {
        padding: 24px 0px 24px 0px;
    }

    .cover {
        padding: 80px 0px 80px 56px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: $color-black;

        &__text-wrapper {
            width: 36%;
            padding-left: 80px;

            h1, p {
                text-align: left;
                padding-bottom: 24px;
            }

            p {
                font-size: $font-20;
            }
        }
    }

    .overview {
        width: 100%;
        padding: 80px 0px 80px 0px;
        display: flex;
        flex-flow: column nowrap;
        // justify-content: center;
        align-items: center;
        background-color: $color-section-bg;

        .problem-icon, .goal-icon {
            padding: 40px;
            color: $color-secondary;
            font-size: $font-60;
        }

        p, h1 {
            padding-bottom: 40px;
        }

        h3 {
            padding-bottom: 16px;
        }

    }

    .understanding, .design-refine {
        width: 100%;
        padding: 80px 0px 80px 0px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: $color-black;

        &__text-wrapper {
            width: 50%;

            h1, p {
                padding: 24px 0px 24px 0px;
                text-align: left;
            }
    
            h3 {
                padding: 40px 0px 24px 0px;
                text-align: left;
            }
        }
    }

    .design-start {
        width: 100%;
        padding: 80px 0px 80px 0px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: $color-section-bg;

        &__text-wrapper {
            width: 30%;

            p {
                text-align: left;
            }
        }

        h1, p {
            padding: 24px 0px 24px 0px;
            // text-align: center;
        }
    
        h3 {
            padding: 40px 0px 24px 0px;
            // text-align: center;
        }
    }

    // .design-refine {

    // }
}