@media (max-width: $large) {
    footer {
        padding-top: 24px;
        padding-bottom: 64px;
    }
}

@media (min-width: $large) {
    footer {
        padding-top: 64px;
    }
}

footer p {
    opacity: 0.75;
    font-size: $font-14;
}