@media (min-width: $xs) {
    footer {
        padding-top: 24px;
    }
}

@media (min-width: $xl) {
    footer {
        padding-top: 64px;
    }
}

footer {
    opacity: 0.75;
    font-size: $font-12;
}