@media (min-width: $xs) {
    footer {
        padding: 16px 0px 72px;
    }
}

@media (min-width: $xl) {
    footer {
        padding: 24px 0px 64px;
    }
}

@media (min-width: $large) {
    footer {
        padding: 64px 0px 24px;
    }
}

footer p {
    opacity: 0.75;
    font-size: $font-14;
}