@keyframes bounce {
    from { 
        transform: translate3d(0, 0, 0);
    }
    to { 
        transform: translate3d(0, 24px, 0);
    }
}

.contact-me {
    width: 100%;
    min-height: 888px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(black,0.35);

    &__title {
        color: whitesmoke;
    }

    &__form {
        width: 50%;
    }
}

.arrow-down {
    background-image: url("../../static/images/arrow-down.svg");
    background-size: 8rem 8rem;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;

    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}