@keyframes bounce {
    from { 
        transform: translate3d(0, 0, 0);
    }
    to { 
        transform: translate3d(0, 24px, 0);
    }
}

.contact-me {
    width: 100%;
    min-height: 872px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: $color-section-bg;
    padding: 32px 0px 64px 0px;

    &__form {
        width: 50%;
        text-align: center;
    }

    &__p {
        padding-top: 16px;
    }
}

a {
    color: $font-color-primary;
}

a:hover {
    color: $color-highlight;
}

.arrow-down {
    background-image: url("../../static/images/arrow-down.svg");
    background-size: 8rem 8rem;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 24px;

    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}