.contact-me {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: $color-section-bg;

    &__p {
        // font-size: $font-14;
        padding: 16px 24px 0px 24px;
        opacity: 0.75;
    }

    a {
        color: $font-color-primary;
    }

    a:hover {
        color: $color-highlight;
    }

    .arrow-down {
        background-image: url("../../static/images/arrow-down.svg");
        background-size: 8rem 8rem;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 16px;

        animation: bounce 0.5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
}

@media (min-width: $xs) {
    .contact-me {
        min-height: 800px;
        padding: 24px 0px 32px 0px;
    
        &__form {
            width: 100%;
            text-align: center;
        }

        .arrow-down {
            background-size: 6rem 6rem;
            padding: 0;
        }
    }
}

@media (min-width: $xl) {
    .contact-me {
        min-height: 872px;
        padding: 32px 0px 64px 0px;

        &__p {
            width: 40%;
            line-height: 1.5;
        }

        &__form {
            width: 50%;
            text-align: center;
        }

        .arrow-down {
            background-size: 8rem 8rem;
            padding: 16px;
        }
    }
}

@keyframes bounce {
    from { 
        transform: translate3d(0, 0, 0);
    }
    to { 
        transform: translate3d(0, 24px, 0);
    }
}
