$color-primary: whitesmoke;
$color-secondary: #66daa0;
$color-highlight: #43ffa1;
$color-blue: #0f6ce6;
$color-black: black;
$color-section-bg: rgba(black,0.35);

// Fonts
$font-color-primary: whitesmoke;
$font-color-secondary: black;
$font-color-gray: rgb(214, 214, 214);

// Navbar
$navbar-color: rgba(black,0.85);
$navbar-links-hover: #1a1a1a;