* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("./static/images/zinc.jpg");
}

#root {
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

h2 {
    font-size: 3rem;
    color: whitesmoke;
}

p {
    color: whitesmoke;
}