* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("./static/images/zinc.jpg");
}

#root {
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

h3 {
    color: $font-color-primary;
}

p {
    color: $font-color-primary;
    text-align: center;
}

@media (min-width: $xs) {
    h1 {
        font-size: $h1-font-size;
        color: $font-color-primary;
    }

    h3 {
        font-size: $font-17;
    }

    p {
        font-size: $body-font-size;
    }
}

@media (min-width: $xl) {
    h1 {
        font-size: $h1-font-size-desktop;
        color: $font-color-primary;
    }

    h3 {
        font-size: $font-20;
    }

    p {
        font-size: $body-font-size-desktop;
    }
}