// Base
@import "components/base/colors.scss";
@import "components/base/variables.scss";
@import "components/base/breakpoints.scss";

@import "components/base/myButton/myButton.scss";
@import "components/base/myTextField/myTextField.scss";
@import "components/base/myTag/myTag.scss";

// Navbar
@import "components/navbar/desktop/navbar.scss";
@import "components/navbar/mobile/navbarMobile.scss";
@import "components/navbar/mobile/topBarMobile.scss";
@import "components/navbar/desktop/sidebarNav.scss";

// Languages
@import "components/languageSelector/languageSelector.scss";

// About
@import "components/myIntroduction/myIntroduction.scss";
@import "components/myIntroduction/myLinks.scss";
@import "components/myIntroduction/myPicture.scss";

// Projects
@import "components/projects/projects.scss";
@import "components/projects/projectCard.scss";
@import "components/projects/projectPages/bakeryApp/bakeryApp.scss";

// Contact me
@import "components/contactMe/contactMe.scss";

// Footer
@import "components/footer/footer.scss";

// Root styles
@import "App.scss";
@import "index.scss";


