// Base
@import "colors.scss";
@import "variables.scss";
@import "breakpoints.scss";

@import "components/base/myBackButton/myBackButton.scss";
@import "components/base/myButton/myButton.scss";
@import "components/base/myTextField/myTextField.scss";
@import "components/base/myTag/myTag.scss";

// Navbar
@import "components/navbar/desktop/navbar.scss";
@import "components/navbar/mobile/navbarMobile.scss";
@import "components/navbar/mobile/topBarMobile.scss";
@import "components/navbar/desktop/sidebarNav.scss";
@import "components/navbar/backNavbar.scss";

// Languages
@import "components/languageSelector/languageSelector.scss";

// Main
@import "pages/mainPage/main.scss";

// About
@import "components/myIntroduction/myIntroduction.scss";
@import "components/myIntroduction/myLinks.scss";
@import "components/myIntroduction/myPicture.scss";

// Projects
@import "components/projects/projects.scss";
@import "components/projects/projectCard.scss";

// Contact me
@import "components/contactMe/contactMe.scss";

// Project pages
@import "pages/projectPages/projectPage.scss";

// Footer
@import "components/footer/footer.scss";

// Root styles
@import "index.scss";


