.my-intro-container {
    width: 100%;
    min-height: 832px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-top: 24px;
}

.my-intro-container:before {
    content: ' ';
    display: block;
    opacity: 0.65;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../static/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.my-pic {
    order: 1;

}

.about-me {
    order: 2;
    width: 600px;
    height: 100%;
    z-index: 999;

    &__p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        font-size: 2rem;
    }
}

.my-links {
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}






