.my-intro-container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.my-intro-container:before {
    content: ' ';
    display: block;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../static/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.about-me {
    height: 100%;
    z-index: 99;

    &__greeting {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        padding-top: 16px;
        line-height: $line-height;
    }
}

.my-links {
    display: flex;
}

@media (min-width: $xs) {
    .my-intro-container {
        flex-flow: column wrap;
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .about-me {
        padding: 24px 16px 32px 16px;
    
        &__greeting {
            padding-top: 8px;
        }

        &__p {
            padding-top: 16px;
            font-size: $font-18;
        }
    }
}

@media (min-width: $small) {
    .about-me {
        width: 80%;

        &__p {
            font-size: $font-21;
        }
    }
}

@media (min-width: $medium) {
    .my-intro-container {
        padding-top: 124px;
    }
}

@media (min-width: $large) {
    .my-intro-container {
        flex-flow: row wrap;
        justify-content: center;
        gap: 72px;
        min-height: 832px;
        padding-top: 24px;
    }
    
    .about-me {
        width: 40%;

        &__greeting {
            justify-content: flex-start;
            text-align: left;
        }
    
        &__p {
            font-size: $font-24;
            text-align: left;
        }
    }
}

@media (min-width: $xl) {
    .my-intro-container {
        gap: 96px;
    }
}
