.links-container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.links-linkedin {
    margin-bottom: 24px;
    text-align: center;
}

.links-github {
    margin-bottom: 24px;
    text-align: center;
}