.my-pic::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(-45deg, $color-highlight, $color-blue);
    content: '';
    z-index: -1;
    border-radius: 50%;
}

@media (min-width: $xs) {
    .my-pic {
        position: relative;
        width: 168px !important;
        height: 168px !important;
    }
}

@media (min-width: $medium) {
    .my-pic {
        width: 232px !important;
        height: 232px !important;
    }
}

@media (min-width: $large) {
    .my-pic {
        width: 232px !important;
        height: 232px !important;
    }
}

@media (min-width: $xl) {
    .my-pic {
        width: 300px !important;
        height: 300px !important;
    }
}

.my-pic {
    vertical-align: middle;
    border-radius: 50%;
    z-index: 99;
}
